<div class="card rounded myBodyCard">

    <div class="card-header myHeaderCard">
        <div class="d-flex justify-content-start">
            <h1 class="h1_card-header">Graph01</h1>
        </div>

    </div>
    <div class="card-block myCardBlock">
         <table class="table table-sm table-dark table-striped" id="table-eurofx-computed01">
            <tbody>
                <tr><!--1ª fila-->
                    <th scope="col">Candle id</th>
                    <th scope="col">delta</th>
                    <th scope="col">delta p=1</th>
                    <th scope="col">vol avg</th>
                    <th scope="col">delta strong</th>
                    <th scope="col">vol_filtered</th>
                </tr>
                <tr>
                    <td><span id="eurofx-deltas-candle_id">0</span></td>
                    <td><span id="eurofx-deltas-delta">0</span></td>
                    <td><span id="eurofx-deltas-delta_p1">0</span></td>
                    <td><span id="eurofx-deltas-vol_avg">0</span></td>
                    <td><span id="eurofx-deltas-delta_strong">0</span></td>
                    <td><span id="eurofx-deltas-vol-filtered">0</span></td>
                </tr>
            </tbody>
         </table>
         <canvas id="chart_deltas"></canvas>
    </div>
</div>