<div class="card rounded myBodyCard">

    <div class="card-header myHeaderCard">
        <div class="d-flex justify-content-start">
            <h1 class="h1_card-header">Datos de sesión</h1>
        </div>

    </div>
    <div class="card-block myCardBlock">
        <table class="table table-sm table-dark table-striped" id="table-eurofx-computed01">
            <tbody>
                <tr><!--1ª fila-->
                    <th scope="col"></th>
                    <th scope="col">Vol. Compra</th>
                    <th scope="col">Vol. Venta</th>
                    <th scope="col">Delta</th>
                    <th scope="col">Vol. Total</th>
                    <th scope="col">Delta-F</th>
                </tr>
                <tr>
                    <td>Sesión</td>
                    <td><span id="ib35-glb-vol-compra-periodo-SE">0</span></td>
                    <td><span id="ib35-glb-vol-venta-periodo-SE">0</span></td>
                    <td><span id="ib35-glb-deltaperiodo-SE">0</span></td>
                    <td><span id="ib35-glb-vol-tot-periodo-SE">0</span></td>
                    <td><span id="ib35-glb-deltaF-periodo-SE">0</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>