<div class="card rounded myBodyCard">

    <div class="card-header myHeaderCard">
        <div class="d-flex justify-content-start">
            <h1 class="h1_card-header"><span id="cardheader_a_h1"></span></h1>
        </div>
    </div>

    <div class="card-block myCardBlock">

        <table class="table table-sm table-dark table-striped" id="table-computed02">
            <tbody>
                <tr><!--1ª fila-->
                    <th scope="col"></th>
                    <th scope="col">Buy price</th>
                    <th scope="col">Sell price</th>
                    <th scope="col">Vol. Total</th>
                </tr>
                <tr>
                    <td><span id="glb-sessionname">0</span></td>
                    <td><span id="glb-buyprice">0</span></td>
                    <td><span id="glb-sellprice">0</span></td>
                    <td><span id="glb-voltotal">0</span></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-dark table-striped" id="table-computed01">
            <tbody>
                <tr><!--1ª fila-->
                    <th scope="col">Candle id</th>
                    <th scope="col">delta</th>
                    <th scope="col">delta p=1</th>
                    <th scope="col">vol avg</th>
                    <th scope="col">delta strong</th>
                    <th scope="col">vol_filtered</th>
                </tr>
                <tr>
                    <td><span id="deltas-candle_id">0</span></td>
                    <td><span id="deltas-delta">0</span></td>
                    <td><span id="deltas-delta_p1">0</span></td>
                    <td><span id="deltas-vol_avg">0</span></td>
                    <td><span id="deltas-delta_strong">0</span></td>
                    <td><span id="deltas-vol-filtered">0</span></td>
                </tr>
            </tbody>
        </table>
        <div>
            <canvas id="chart_deltas" width="1550px" height="300px"></canvas>
        </div>
    </div>
</div>