<div class="card rounded myBodyCard">
    <div class="card-header myScriptCard" id="headingFour">
        <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Module Packages
            </button>
        </h2>
    </div>

    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#scriptOptions">
        <div class="card-body">
            <div class="card-block">
                Script to find Module Packages
            </div>
        </div>
    </div>
</div>