<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Data Visualizator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Welcome to me.">
    <meta name="author" content="Alfredo Sanz | https://github.com/AlfredoSanz-Indra">
    
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    
    {% include "inc-import-css.html" ignore missing %}
        
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    
</head>

<!-- BEGIN BODY -->
<body>
    <form id="mainform">
        <input type="hidden" id="mydomain" value="{{datas.domain}}"/>
    </form>


     <!-- /CONTAINER -->
    <div class="container">

        <!-- HEADER -->
        {% include "inc-header.html" ignore missing %}
        <!-- /HEADER -->

        <!-- MAIN BODY-->
        <div class="row">
            <div class="col-md-12">

                <!-- MAIN CONTENT -->
                <div class="accordion" id="scriptOptions">
                    
                    <!-- Script 1-->
                    {% include "index-inc-card-script01.html" ignore missing %}

                    <!-- Script 2-->
                    {% include "index-inc-card-script02.html" ignore missing %}

                    <!-- Script 3-->
                    {% include "index-inc-card-script03.html" ignore missing %}

                    <!-- Script 4-->
                    {% include "index-inc-card-script04.html" ignore missing %}
                    
                </div>            
                <!-- /MAIN CONTENT -->
            </div>
        </div>
        <!-- /MAIN BODY-->

        <!-- FOOTER -->
        {% include "inc-footer.html" ignore missing %}
        <!-- /FOOTER -->

    </div>
    <!-- /CONTAINER -->

    <!-- GLOBAL SCRIPTS -->
    <script src="{{datas.domain}}/static/js/jquery-3.4.1.min.js"></script>
    <script src="{{datas.domain}}/static/js/tether.min.js"></script>
    <script src="{{datas.domain}}/static/js/bootstrap.min.js"></script>
    <script src="{{datas.domain}}/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{datas.domain}}/static/js/app.js"></script>
    
    <script>
        var mobile = '-';
        var domain = '{{datas.domain}}';

        $(document).ready(function() {

            const mydomain = $('#mainform #mydomain').val();

            console.log(mydomain);
            
            
        });//fin ready
    </script>

    

    
</body>
<!-- END BODY -->
</html>