<div class="card rounded myBodyCard">
    <div class="card-header myScriptCard" id="headingTwo">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Script Package State  Loop
            </button>
        </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#scriptOptions">
        <div class="card-body">
            Script for request package state and loop
        </div>
    </div>
</div>