<!DOCTYPE html>
<html lang="es">
<head>
    <title>Data Visualizator</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Welcome to me.">
    <meta name="author" content="Alfredo Sanz | https://github.com/eltradingdealf">
    <link rel="icon" href="../favicon.ico">

     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->

    {% include "inc-import-css.html" ignore missing %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <form id="mainform">
        <input type="hidden" id="mydomain" value="{{datas.domain}}"/>
    </form>

    <!-- CONTAINER -->
    <div class="container">
        <!-- HEADER -->
        {% include "inc-header.html" ignore missing %}
        <!-- /HEADER -->

        <!-- MAIN BODY-->
        <div class="row">
            DAX
            <!-- MAIN CONTENT -->
              <div class="col md-12">
                <div class="row">
                     <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-10">
                        {% include "sections/market-card-graph01.html" ignore missing %}
                    </div>
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="btnGotoIndexPage" class="d-flex justify-content-center btnFootCard">
                            <a href="{{datas.domain}}/etda/web/" class="btn btn-danger">Back to Home</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /MAIN CONTENT -->

        </div>
        <!-- /MAIN BODY-->


    </div>
    <!-- /CONTAINER -->

</body>

 <!-- GLOBAL SCRIPTS -->
    <script src="{{datas.domain}}/static/js/jquery-3.4.1.min.js"></script>
    <script src="{{datas.domain}}/static/js/tether.min.js"></script>
    <script src="{{datas.domain}}/static/js/bootstrap.min.js"></script>
    <script src="{{datas.domain}}/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{datas.domain}}/static/js/app.js"></script>
    <script src="{{datas.domain}}/static/js/Chart.bundle.min.js"></script><!--https://www.chartjs.org/-->

    <script>
        const domain = '{{datas.domain}}';
        const THE_MARKET = 'DAX';
        let fecha = '{{datas.fecha}}';
        let sessionName = '{{datas.sessionName}}';

        let global_deltas_lastCandle = 0;
        const global_deltas_list = [];
        let global_deltas_list_last_length = 1;

        let chart_deltas = null;
        const CHART_DELTAS_X_AXIS_LENGTH = 40;


        $(document).ready(function() {
            //const mydomain = $('#mainform #mydomain').val();

            //CHART
            defineChart_deltas();
            initChartDataset_deltas();

            //INTERVAL
            loadSessionName(domain, THE_MARKET);
            setInterval(function(){loadSessionName(domain, THE_MARKET);}, 60000);   //1 mins
            console.log('domain=' + domain + ', fecha=' + fecha + ', sessionName='+sessionName);

            //INTERVAL
            getGlobaldata(domain, THE_MARKET)
            setInterval(function(){getGlobaldata(domain, THE_MARKET);}, 500);//0.5seg   //1000);// 1 seg

            //INTERVAL
            getDeltas(domain, THE_MARKET)
            setInterval(function(){getDeltas(domain, THE_MARKET);}, 500);//0.5seg   //1000);// 1 seg
        });//fin ready
    </script>
</html>