<div class="card rounded myBodyCard">

    <div class="card-header myHeaderCard">
        <div class="d-flex justify-content-start">
            <h1 class="h1_card-header">Datos de sesión - realtime</h1>
        </div>

    </div>
    <div class="card-block myCardBlock">
        <div class="myTableTitleHeader">
             <div class="d-flex justify-content-start">
                <span>Datos Globales</span>
            </div>
        </div>

        <table id="table_eurofx_current" class="table">
            <tbody>
                <tr>
                    <th class="d-inline-block col-2">Sesión</th>
                    <td class="d-inline-block col-10"><span id="ib35-glb-sesion">0</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>